name: Push to GHCR

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}          # tự động là thanhbip01
          password: ${{ secrets.GHCR_TOKEN }}    # chính là token tên thanhbip01

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/thanhbip01/ten-image-cua-ban:latest   # thay ten-image-cua-ban thành gì bạn thích