name: CI/CD Docker

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: frontend/package-lock.json

      - name: Install & Build
        run: |
          npm ci
          npm run build
        working-directory: frontend

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}   # ← phải dùng vars (variable)
          password: ${{ secrets.DOCKERHUB_TOKEN }}   # ← phải dùng secrets

      - name: Build & Push Docker
        run: |
          docker build -f frontend/Dockerfile -t thanhbip01/vite-react-app:latest .
          docker push thanhbip01/vite-react-app:latest